@import "tailwindcss";

@theme {
  --font-roboto-condensed: "Roboto Condensed", sans-serif;
  --color-ct-blue: #364652;
}

@layer base {
  h4 {
    font-family: "Roboto Condensed", sans-serif;
    padding: 10px 0 16px 0;
    @apply text-ct-blue;
  }
}